version: '3'

services:
  ts_vftv10006:
    image: cerberusbroadcast/tsduck
    volumes:
      - /stream/data:/data
    command: '-I file /data/vftv_hdtv10006.ts --infinite -P regulate --pcr-synchronous -P continuity --fix -P bitrate_monitor -p 60 -O ip 232.107.210.106:5000'
    restart: always
    network_mode: host

  ts_vftv10009:
    image: cerberusbroadcast/tsduck
    volumes:
      - /stream/data:/data
    command: '-I file /data/vftv_hdtv10009.ts --infinite -P regulate --pcr-synchronous -P continuity --fix -P bitrate_monitor -p 60 -O ip 232.107.210.109:5000'
    restart: always
    network_mode: host

  ts_vftv10002:
    image: cerberusbroadcast/tsduck
    volumes:
      - /stream/data:/data
    command: '-I file /data/vftv_sdtv10002.ts --infinite -P regulate --pcr-synchronous -P continuity --fix -P bitrate_monitor -p 60 -O ip 232.107.210.102:5000'
    restart: always
    network_mode: host

  ts_acdc:
    image: cerberusbroadcast/tsduck
    volumes:
      - /stream/data:/data
    command: '-I file /data/zdf-hd_acdc.ts --infinite -P regulate --pcr-synchronous -P continuity --fix -P bitrate_monitor -p 60 -O ip 232.107.210.11:5000'
    restart: always
    network_mode: host

  ts_maiden:
    image: cerberusbroadcast/tsduck
    volumes:
      - /stream/data:/data
    command: '-I file /data/zdf-hd_maiden.ts --infinite -P regulate --pcr-synchronous -P continuity --fix -P bitrate_monitor -p 60 -O ip 232.107.210.12:5000'
    restart: always
    network_mode: host

  ts_parsons:
    image: cerberusbroadcast/tsduck
    volumes:
      - /stream/data:/data
    command: '-I file /data/zdf-hd_parsons.ts --infinite -P regulate --pcr-synchronous -P continuity --fix -P bitrate_monitor -p 60 -O ip 232.107.210.13:5000'
    restart: always
    network_mode: host

  srt_acdc:
    image: cerberusbroadcast/tsduck
    volumes:
      - /stream/data:/data
    command: '-I file /data/zdf-hd_acdc.ts --infinite -P regulate --pcr-synchronous -P continuity --fix -P bitrate_monitor -p 60  -O srt --listener 4600 --transtype live --messageapi'
    restart: always
    network_mode: host

  srt_maiden:
    image: cerberusbroadcast/tsduck
    volumes:
      - /stream/data:/data
    command: '-I file /data/zdf-hd_maiden.ts --infinite -P regulate --pcr-synchronous -P continuity --fix -P bitrate_monitor -p 60  -O srt --listener 4666 --transtype live --messageapi'
    restart: always
    network_mode: host

  srt_parsons:
    image: cerberusbroadcast/tsduck
    volumes:
      - /stream/data:/data
    command: '-I file /data/zdf-hd_parsons.ts --infinite -P regulate --pcr-synchronous -P continuity --fix -P bitrate_monitor -p 60  -O srt --listener 4700 --transtype live --messageapi'
    restart: always
    network_mode: host
