version: '3'

services:
  ts_vftv10006:
    image: cerberusbroadcast/tsduck
    volumes:
      - /stream/data:/data
    command: '-I file /data/vftv_hdtv10006.ts --infinite -P regulate --pcr-synchronous -P continuity --fix -P bitrate_monitor -p 60 -O ip 239.107.210.106:5000'
    restart: always
    network_mode: host

  ts_vftv10009:
    image: cerberusbroadcast/tsduck
    volumes:
      - /stream/data:/data
    command: '-I file /data/vftv_hdtv10009.ts --infinite -P regulate --pcr-synchronous -P continuity --fix -P bitrate_monitor -p 60 -O ip 239.107.210.109:5000'
    restart: always
    network_mode: host

  ts_vftv10002:
    image: cerberusbroadcast/tsduck
    volumes:
      - /stream/data:/data
    command: '-I file /data/vftv_sdtv10002.ts --infinite -P regulate --pcr-synchronous -P continuity --fix -P bitrate_monitor -p 60 -O ip 239.107.210.102:5000'
    restart: always
    network_mode: host

  ts_acdc:
    image: cerberusbroadcast/tsduck
    volumes:
      - /stream/data:/data
    command: '-I file /data/zdf-hd_acdc.ts --infinite -P regulate --pcr-synchronous -P continuity --fix -P bitrate_monitor -p 60 -O ip 239.107.210.11:5000'
    restart: always
    network_mode: host

  ts_maiden:
    image: cerberusbroadcast/tsduck
    volumes:
      - /stream/data:/data
    command: '-I file /data/zdf-hd_maiden.ts --infinite -P regulate --pcr-synchronous -P continuity --fix -P bitrate_monitor -p 60 -O ip 239.107.210.12:5000'
    restart: always
    network_mode: host

  ts_parsons:
    image: cerberusbroadcast/tsduck
    volumes:
      - /stream/data:/data
    command: '-I file /data/zdf-hd_parsons.ts --infinite -P regulate --pcr-synchronous -P continuity --fix -P bitrate_monitor -p 60 -O ip 239.107.210.13:5000'
    restart: always
    network_mode: host

# Using the HAIVISION SRT toolchain for better compatibility

  srt_acdc:
    image: miyukki/srt:latest
    volumes:
      - /stream/data:/data
    entrypoint: '/opt/srt/srt-live-transmit'
    command: 'udp://239.107.210.11:5000 srt://:4600'
    restart: always
    network_mode: host
  
  srt_maiden:
    image: miyukki/srt:latest
    volumes:
      - /stream/data:/data
    entrypoint: '/opt/srt/srt-live-transmit'
    command: 'udp://239.107.210.12:5000 srt://:4666'
    restart: always
    network_mode: host

  srt_parsons:
    image: miyukki/srt:latest
    volumes:
      - /stream/data:/data
    entrypoint: '/opt/srt/srt-live-transmit'
    command: 'udp://239.107.210.13:5000 srt://:4700'
    restart: always
    network_mode: host
